<mat-form-field>
    <mat-select [(value)]="selectedDepartment" (selectionChange)="changeDepartment()">
        <mat-option [value]="option.value" *ngFor="let option of departments">{{ option.viewValue }}</mat-option>
    </mat-select>
</mat-form-field>

<mat-paginator #paginator [length]="filterMetadata.count || initialCount"
              [pageIndex]="pageIndex"
              [pageSize]="pageSize"
              [pageSizeOptions]="[6]"
              (page)="changePage($event)"
              >
</mat-paginator>

<!-- <ng-content *ngFor="let item of employees|slice:
             (paginator.pageIndex*paginator.pageSize):
             ((paginator.pageIndex+1)*paginator.pageSize)">
</ng-content> -->



<div class="row">
    <div *ngFor="let employee of employees | sort:'dateOfHire':'desc' | filter:selectedDepartment:filterMetadata | slice:
    (paginator.pageIndex*paginator.pageSize):
    ((paginator.pageIndex+1)*paginator.pageSize)">
        <div class="column" style="background-color:#aaa;">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>{{employee.firstName + " " + employee.lastName}}</mat-card-title>
                    <mat-card-subtitle>1</mat-card-subtitle>
                    <img mat-card-lg-image [src]="employee.avatar" (load)="tallyPhoto()" (error)="tallyPhoto()">
                  </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                  {{longText}}
                </mat-card-content>
            </mat-card>
          <!-- <h2>Column 1</h2>
          <p>Some text..</p> -->
        </div>
    </div>
</div>

    


<br>
<br>

 
<mat-spinner *ngIf="!error && !allPhotosLoaded"></mat-spinner>

<div [hidden]="!allPhotosLoaded">

    <!-- <mat-form-field>
        <mat-select [(value)]="selectedDepartment" (selectionChange)="changeDepartment()">
            <mat-option [value]="option.value" *ngFor="let option of departments">{{ option.viewValue }}</mat-option>
        </mat-select>
    </mat-form-field> -->
      
    <ul>
        <li *ngFor="let employee of employees | sort:'dateOfHire':'desc'" [hidden]="selectedDepartment === 'All Departments' ? false : employee.department != selectedDepartment">
            <div>
                <img [src]="employee.avatar" (load)="tallyPhoto()" (error)="tallyPhoto()">
            </div>
            <div>{{employee.firstName && employee.lastName ? employee.firstName + " " + employee.lastName : "Name"}}</div>
            <div>{{employee.position ? employee.position : "Position"}}</div>
            <div>{{employee.department ? employee.department : "Department"}}</div>
            <div *ngIf="employee.married">Married</div>
            <div *ngIf="isVip(employee.dateOfHire)">VIP</div>
            <div>{{employee.dateOfHire}}</div>
            
        </li>
    </ul>
</div>

<div *ngIf="error">Please try again later. Namaste :-)</div>





<!-- <div class="mat-elevation-z8">
    <table id="matTable" mat-table [dataSource]="dataSource">
  

  
 
      <ng-container matColumnDef="Employees">
        <th mat-header-cell *matHeaderCellDef id="makeRed"> Employees </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>
            <mat-form-field>
                <mat-select [(value)]="selectedDepartment">
                    <mat-option [value]="option.value" *ngFor="let option of departments">{{ option.viewValue }}</mat-option>
                </mat-select>
            </mat-form-field>

        </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[3]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div> -->