<div [hidden]="error" class="main-container">
    <div class="header-container">
        
        <div class="header-element">
            <p id="employee-text">Employees</p>
        </div>
       
        <div class="header-element">
            <mat-form-field>
                <mat-select [(value)]="selectedDepartment" (selectionChange)="changeDepartment()">
                    <mat-option [value]="option.value" *ngFor="let option of departments">{{ option.viewValue }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div *ngFor="let employee of employees 
        | sort:'dateOfHire':'desc' 
        | filter:selectedDepartment:filterMetadata 
        | slice:(paginator.pageIndex * paginator.pageSize):((paginator.pageIndex + 1) * paginator.pageSize)">
            <app-card [employee]="employee"></app-card>
        </div>
    </div>

    <div class="addSpace"></div>
    
    <hr align="center" width="95%" style="border-color: #DCDCDC">
   
    <div class="fakePaginator">
        <div class="flex3">
            <div class="flex-items" *ngIf="paginator.pageIndex != 0" (click)="downPage()"><img style="max-width: 30px;" [src]="'/assets/leftArrow.png'"></div>

            <div class="flex-items" *ngIf="paginator.pageIndex === 0" (click)="downPage()"></div>

            <div class="numbers">
                <span class="flex-items-middle">{{stringOutputBeforeCurrentPage}}</span>
                <span class="flex-items-middle blue-color">{{stringOutputCurrentPage}}</span>
                <span class="flex-items-middle">{{stringOutputAfterCurrentPage}}</span>
            </div>



            <div class="flex-items" *ngIf="paginator.hasNextPage()" (click)="upPage()"><img style="max-width: 30px;" [src]="'/assets/rightArrow.png'"></div>

            <div class="flex-items" *ngIf="!paginator.hasNextPage()" (click)="upPage()"></div>
        </div>
    </div>

    <div [hidden]="true">
        <mat-paginator #paginator 
            hidePageSize="true" 
            [hidden]="true" 
            [length]="filterMetadata.count"
            [pageIndex]="pageIndex"
            [pageSize]="pageSize">
        </mat-paginator>
    </div>
  
</div>

<div *ngIf="error" style="text-align: center;">Please try again later. Namaste :-) </div>
